body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
}

.degree-programmes {
  margin-top: 10px;
}

.degree-row {
  display: block;
  padding: 1px 0;
  margin-bottom: 10px;
  transition: 0.2s ease;

  border-bottom: 1px solid #ddd;
}

.container {
  max-width: 500px;
  margin: 60px auto;
}

.actions a {
  text-decoration: none;
  font-weight: bold;
  margin-left: 10px;
}

.btn {
  background: #0a192f;
  padding: 5px 10px;
  color: white;
  text-decoration: none;

  border-radius: 15px;
}

.btn:hover {
  background: #112d4e;
}

.edt-btn {
  color: #3498db;
}

.dlt-btn {
  color: #e74c3c;
}

/*Create Degree*/

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f5f7fa;
}

.container {
  max-width: 500px;
  margin: 60px auto;
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
}

.degree-form form {
  background: white;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #0a192f;
}

label {
  font-weight: 500;
  display: block;
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  padding: 8px 10px;
  background: #0a192f;
  color: white;
  border: none;
  border-radius: 17px;
  font-weight: 500;
  cursor: pointer;
}

button:hover {
  background: #1f3b73;
}

/*Edit Degree*/

.assign-form {
  background: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

select {
  width: 100%;
  padding: 10px 8px; /* 🔥 main control */
  font-size: 14px;
  border-radius: 16px;
  border: 1px solid #ccc;

  margin-bottom: 5px;
}

label {
  display: block;
  margin-top: 15px;
  font-weight: 500;
}


